.gallery {
    margin-bottom: 150px;

    @media only screen and (max-width: $md) {
        margin-bottom: 80px
    }
    
    .container {
        padding: 200px 50px 95px;
        background-color: $vistaWhite;
        margin: 0 0 0 auto;

        @media only screen and (max-width: $lg) {
            padding-top: 100px;
            margin: 0 auto;
        }

        @media only screen and (max-width: $md) {
            padding: 60px 30px 40px;
        }

        &:last-of-type {
            border: 0px;
        }
    }

    .row {
        margin-bottom: 50px;

        @media only screen and (max-width: $sm) {
            margin-bottom: 0;
        }
    }

    img {
        @extend .img-bordered;
    
        @extend .img-hover;
    
        @media only screen and (max-width: $md) {
            margin: 0 auto 35px;
            width: 100%;
        }
    }
}

.lb-data {
    .lb-details {
        width: 100%;
    }

    .lb-caption {
        font-size: 18px;
        font-weight: normal;
        line-height: 150%;
        color: white;
        font-family: 'TTNorms';
        margin-top: 10px;
        display: block;
        margin-bottom: 5px;
    }

    .lb-number {
        font-family: 'TTNorms';
    }

    .lb-close {
        background-image: url(/assets/images/close.png);
        top: 25px;
        right: 25px;
        position: fixed;
    }
}

.lb-nav {
    a.lb-prev {
        background-image: url(/assets/images/lightbpxPrev.png);
    }

    a.lb-next {
        background-image: url(/assets/images/lightbpxNext.png);
    }

    .lb-cancel {
        background-image: url(/assets/images/loading.gif)
    }

    a.lb-prev, 
    a.lb-next {
        &:hover {
            opacity: 1;
        }
    }
}

.lb-outerContainer,
.lightbox .lb-image {
    width: 750px;
    height: 400px;
}

.lightbox {
    .lb-image {
        border: 0px;
    }
}