.hands-banner {
    background-image: url(/assets/images/hands/banner.png);
    padding-bottom: 125px;
}

.hands {
    .image__large {
        background-image: url(/assets/images/hands/hands.png)
    }
}