header {
    z-index: 999;
    @include transition(all 0.5s ease-in-out);
    position: absolute;
    left: 0;
    top: 0; 
    width: 100%; 
}

.header-sticky {
    background-color: white;
    box-shadow: rgb(208, 208, 208) 0px 0px 15px 0px;
    @include transition(all 0.2s ease-in-out);
}

.navbar-brand {
    a {
        margin-right: 7px;

        img {
            @media only screen and (max-width: $sm) {
                max-width: 80%;
            }
        }
    }

    span {
        font-size: 16px;
        line-height: 19px;
    }
} 

.nav-item {
    font-size: 14px;
    line-height: 16px;
    color: $elephant;
    padding: 5px 26px;

    @media only screen and (max-width: $xl) {
        padding: 5px 14px;
    }
}

.navbar-nav {
    @media only screen and (max-width: $md) {
        background: #fff;
        box-shadow: 0px 0px 14px 0px #eee;
        padding: 10px 0;
    }
}

.nav-link {
    padding: .5rem 0;
    position: relative;
    @include transition(all 0.2s ease-in-out);
    font-size: 14px;
    line-height: 16px;
    color: $elephant;
    font-family: futura;
    text-transform: uppercase;

    &:hover {
        font-weight: bold;
        @include transition(all 0.2s ease-in-out);
    }
}

.navbar p {
    font-size: 14px;
    line-height: 16px;
    color: $elephant;
}

.dropdown-toggle {
    display: flex;
    align-items: center;

    &::after {
        border-top: 0;
        border-right: 0;
        border-bottom: 0;
        border-left: 0;
        background-image: url(/assets/images/arrowDown.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 16px;
        height: 16px;
        margin-top: -1px;
    }
}

.dropdown-menu {
    background-color: $elephant;
    padding: 20px 30px;
    border-radius: 0;
    position: relative;

    li {
        &:last-child {
            .dropdown-item {
                padding: 0 0 0px;
                margin-bottom: 0px;
                border: 0;
            }
        }
    }

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: $wheat;
        bottom: 0;
        left: 0;
    }
}

.dropdown-item {
    color: white;
    text-transform: uppercase;
    padding: 0 0 20px;
    font-size: 14px;
    font-family: futura;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    margin-bottom: 20px;
    letter-spacing: 1px;

    &:hover {
        color: $wheat;
        background-color: transparent;
    }
}

.level-one {
    &::before {
        content: "";
        position: absolute;
        border-top: 1em solid $elephant;
        border-right: 1em solid transparent;
        border-bottom: 0;
        border-left: 1em solid transparent;
        transform: rotate(180deg);
        top: -10px;
        left: 20px;
    }
}

.navbar .nav-item:hover .dropdown-menu { 
    display: block; 
}