.maleBreast-banner {
    background-image: url(/assets/images/maleBreast/banner.png);
    padding-bottom: 125px;
}

.male-breast {
    .image__large {
        background-image: url(/assets/images/maleBreast/maleBreast.png)
    }
}