@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}
@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

@mixin transition($transition...) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin transform($transform...) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}

@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  -ms-box-shadow: $shadow;
  -o-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin radial-gradient($gradient...) {
  -webkit-background: radial-gradient($gradient);
  -moz-background: radial-gradient($gradient);
  -ms-background: radial-gradient($gradient);
  -o-background: radial-gradient($gradient);
  background: radial-gradient($gradient);
}

@mixin linear-gradient($gradient...) {
  -webkit-background: linear-gradient($gradient);
  -moz-background: linear-gradient($gradient);
  -ms-background: linear-gradient($gradient);
  -o-background: linear-gradient($gradient);
  background: linear-gradient($gradient);
}
