.philosophy-banner {
    background-image: url(/assets/images/philosophy/banner.png);
    background-size: 122%;

    @media only screen and (max-width: $sm) {
        background-size: 100% 55% !important;
    }
}

.philosophy {
    margin-bottom: 150px;

    @media only screen and (max-width: $md) {
        margin-bottom: 80px
    }
    
    .container {
        padding: 200px 50px 95px;
        background-color: $vistaWhite;
        margin: 0 0 0 auto;

        @media only screen and (max-width: $lg) {
            padding-top: 100px;
            margin: 0 auto;
        }

        @media only screen and (max-width: $md) {
            padding: 60px 30px;
        }
    }
}

.philosophy-inner {
    h2 {
        margin-bottom: 25px
    }

    p {
        margin-bottom: 46px;
        width: 837px;

        @media only screen and (max-width: $md) {
            width: 100%;
        }   
    }

    div {
        margin-bottom: 100px;
        margin-top: 20px;
        padding-top: 43px;
        border-top: 1px solid $wheat;
    }
}