.skin-banner {
    background-image: url(/assets/images/skin/banner.jpeg);
    padding-bottom: 125px;
}

.skin {
    .image__large {
        background-image: url(/assets/images/skin/skin.png)
    }
}