.team-banner {
    background-image: url(/assets/images/team/BANNER.jpg);
}

.team {
    margin-bottom: 150px;

    @media only screen and (max-width: $md) {
        margin-bottom: 80px
    }

    .container {
        padding: 200px 50px 95px;
        background-color: $vistaWhite;
        margin: 0 0 0 auto;

        @media only screen and (max-width: $lg) {
            padding-top: 100px;
            margin: 0 auto;
        }

        @media only screen and (max-width: $md) {
            padding: 60px 30px;
        }

        &:last-of-type {
            border: 0px;
        }
    }

    img {
        width: 379px;
        height: 379px;
        padding: 19px;
        background-color: white;
        border: 2px solid $wheat;

        @media only screen and (max-width: $xl) {
            width: 80%;
            height: auto;
        }

        @media only screen and (max-width: $md) {
            margin: 0 auto 25px;
        }
    }
}

.team-members {
    .row {
        padding-bottom: 51px;
        margin-bottom: 51px;
        border-bottom: 2px solid $wheat;

        &:last-child {
            border-bottom: 0px;
            padding-bottom: 0px;
        }
    }
}

.team__inner {
    span {
        font-family: TTNorms;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 24px;

        @media only screen and (max-width: $sm) {
            font-size: 14px;
            line-height: normal;
        }
    }

    ul {
        margin: 25px 0 10px;
    }

    p {
        font-family: TTNorms;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 0;
    }
}

.team-contact-form {
    margin-top: 174px;

    @media only screen and (max-width: $sm) {
        margin-top: 80px;
    }
}