.tight-banner {
    background-image: url(/assets/images/tight/banner.png);
    padding-bottom: 125px;
}

.tight {
    .image__large {
        background-image: url(/assets/images/tight/tight.png);
    }
}