@font-face {
    font-family: "Futura";
    src: url('/assets/fonts/FuturaLT-Book.woff') format("woff");
}

@font-face {
    font-family: "TTNorms";
    src: url('/assets/fonts/TTNorms-Regular.woff2') format("woff2");
    src: url('/assets/fonts/TTNorms-Regular.woff') format("woff");
}

@font-face {
    font-family: "TTNorms-Light";
    src: url('/assets/fonts/TTNorms-Light.woff2') format("woff2");
    src: url('/assets/fonts/TTNorms-Light.woff') format("woff");
}

@font-face {
    font-family: "Audrey";
    src: url('/assets/fonts/Audrey-Normal.woff') format("woff");
}