h1 {
    font-size: 72px;
    font-size: 72px;
    font-family: 'TTNorms';

    @media only screen and (max-width: $md) {
        font-size: 35px;
        line-height: normal;
    }
}

h2 {
    font-family: 'TTNorms';
    font-size: 50px;
    color: $elephant;
    font-weight: 300;

    @media only screen and (max-width: $md) {
        font-size: 28px;
        line-height: normal;
    }
}

p {
    font-family: 'TTNorms';
    font-weight: 300;
    font-size: 20px;
    color: $elephant;
    line-height: 30px;
    margin-bottom: 30px;

    @media only screen and (max-width: $md) {
        font-size: 16px;
        line-height: 150%;
    }
}

p.secondary {
    font-family: 'TTNorms';
    font-weight: 300;
    color: $elephant;
    font-size: 22px !important;
    line-height: 30px;

    @media only screen and (max-width: $md) {
        font-size: 18px;
        line-height: 150%;
    }
}

a {
    font-family: 'TTNorms';
    font-weight: 500;
    color: $elephant;
    font-size: 20px;

    &:hover {
        text-decoration: none;
        color: inherit;
    }

    @media only screen and (max-width: $md) {
        font-size: 16px;
        line-height: normal;
    }
}

.container {
    @media only screen and (min-width: $xl) {
        max-width: 1290px;
    }
}

.font-futura {
    font-family: Futura;
}

.font-TTNorms {
    font-family: TTNorms;
}

.font-TTNormsLight {
    font-family: TTNorms-Light;
}

.font-Audrey {
    font-family: Audrey;
}

.color-primary {
    color: $elephant;
}

.background-primary {
    background-color: $elephant;
}

.color-secondary {
    color: $vistaWhite;
}

.background-secondary {
    background-color: $vistaWhite;
}

.button-primary,
.button-secondary {
    padding: 18px 66px;
    font-family: TTNorms;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    border-radius: 0px;
    color: white;
    position: relative;

    @media only screen and (max-width: $sm) {
        padding: 10px 20px;
        line-height: normal;
        font-size: 16px;
    }
}

.button-primary {
    background-color: $elephant;
    @extend .btn-hover-primary;
}

.button-secondary {
    @extend .background-secondary;
    @extend .btn-hover-secondary;
    color: $elephant;
}

.link-hover-top,
.link-hover-bottom,
.active {
    &::before {
        content: '';
        position: absolute;
        width: 0;
        height: 3px;
        background: #0e3751;
        transition: all 0.5s ease;
    }

    &:hover {
        &::before {
            width: 100%;
            transition: all 0.5s ease;
        }
    }
}

.active {
    position: relative;

    &::before {
        width: 100%;
        bottom: -5px;
    }
}

.link-hover-top {
    &::before {
        top: -5px;
    }
}

.link-hover-bottom {
    &::before {
        bottom: -5px;
    }
}

.btn-hover-primary,
.btn-hover-secondary {
    &::before, 
    &::after {
        content: '';
        position: absolute;
        width: 0%;
        height: 0%;
        opacity: 0;
        transition: width 0.2s linear, height 0.15s 0.2s ease-out, opacity 0s 0.35s;
    }

    &::before {
        top: -15px;
        left: -15px;
        border-top: 3px solid $elephant;
        border-left: 3px solid $elephant;
    }

    &::after {
        bottom: -15px;
        right: -15px;
        border-bottom: 3px solid $elephant;
        border-right: 3px solid $elephant;
    }

    &:hover::before, 
    &:hover::after {
        width: 30%;
        height: 100%;
        opacity: 1;
        transition: width 0.2s 0.15s ease-out, height 0.15s ease-in, opacity 0s;
    }
}

.btn-hover-secondary {
    &:hover {
        color: #fff;
    }
}

.btn-hover-secondary {
    &::before {
        border-top: 3px solid $wheat;
        border-left: 3px solid $wheat;
    }

    &::after {
        bottom: -15px;
        right: -15px;
        border-bottom: 3px solid $wheat;
        border-right: 3px solid $wheat;
    }
}

.subpage-banner__title {
    font-family: TTNorms;
    font-style: normal;
    font-weight: 300;
    font-size: 90px;
    line-height: 90px;
    letter-spacing: 0.24em;
    text-transform: uppercase;
    padding-top: 166px;

    @media only screen and (max-width: $sm) {
        padding-top: 30px;
        font-size: 28px;
        line-height: normal;
    }
}